@model IEnumerable<HomeFoodies.Models.UOMType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UOMTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDecimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UOMTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDecimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UOMTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UOMTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UOMTypeID })
        </td>
    </tr>
}

</table>
