@{
    Layout = "~/Views/Client/Shared/_Layout.cshtml";
    ViewBag.HomePage = "Yes";
}



<div class="row-fluid banner">

    @if (Request.Path.Contains("/"))
    {
        @Html.Partial("~/Views/Client/Shared/_NavBarHomePartial.cshtml");
    }
    
    <!-- Main component for a primary marketing message or call to action -->
    <div class="page-container">
        <div class="row-menu">

            <div class="col-lg-3">
            </div>

            <div class="col-lg-6">

                @if ((Request.Path.Contains("/")))
                {
                    Html.RenderAction("MainSearch", "Products");
                }


                @*Html.Partial("~/Views/Client/Shared/_MainSearchPartial.cshtml")*@
            </div>
            @*<div class="col-lg-3">
                    @Html.ActionLink("Type 1", "Search", "Products", new { itemcategoryid = 3, supplierid = 0, supplierregion = "", itemname = "" }, htmlAttributes: new { @class = "" })
                </div>*@
        </div>
    </div>
</div>

<div class="clearfix">
</div>


<!-- BEGIN CONTAINER -->
<div class="page-container wrapper">
    <div class="col-sm-12">
        <div class="row-fluid">
            @if ((Request.Path.Contains("/")))
            {
                Html.RenderAction("LatestItems", "Products");
            }
        </div>
    </div>
</div>


<div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
    @Html.Partial("~/Views/Client/Shared/_SignUpPartial.cshtml")
</div>

<div id="login" class="modal fade" tabindex="-1" aria-hidden="true">
    @Html.Partial("~/Views/Client/Shared/_LoginPartial.cshtml")
</div>

<div id="verifyUser" class="modal fade" tabindex="-1" aria-hidden="true">
    @Html.Partial("~/Views/Client/Shared/_VerificationPartial.cshtml")
</div>

<div id="setPassword" class="modal fade" tabindex="-1" aria-hidden="true">
    @Html.Partial("~/Views/Client/Shared/_SetPasswordPartial.cshtml")
</div>

@if (ViewBag.CurrentSignUpStatus == "VerificationSent")
{
    <script type="text/javascript">
        $('#verifyUser').modal('show');
    </script>
}
else if (ViewBag.CurrentSignUpStatus == "SetPassword")
{
    <script type="text/javascript">
        $('#setPassword').modal('show');
    </script>
}
else if (ViewBag.CurrentSignUpStatus == "Active" || ViewBag.CurrentSignUpStatus == "WrongPassord" || ViewBag.CurrentSignUpStatus == "InvalidUser" || ViewBag.CurrentSignUpStatus == "InActiveUser" || ViewBag.CurrentSignUpStatus == "Signed Up")
{
    <script type="text/javascript">
        $('#login').modal('show');
    </script>
}
