@model IEnumerable<HomeFoodies.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Client/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.OrderNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DetailID })
        </td>
    </tr>
}

</table>
